@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using (Html.BeginForm("EditPassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal" style="width: 35%;margin: 50px auto;">
        <div class="form-group">
            <label for="password_old">原密码</label>
            <input type="password" class="form-control" placeholder="博客原密码" id="password_old" name="password_old">
            <span style="color:red">*</span>
        </div>
        <div class="form-group">
            <label for="password_new">新密码</label>
            <input type="password" class="form-control" id="password_new" placeholder="新密码" name="password_new">
            <span style="color:red">*</span>
        </div>
        <div class="form-group">
            <label for="password_new2">确认密码</label>
            <input type="password" class="form-control" id="password_new2" name="password_new2" placeholder="确认密码">
            <span style="color:red">*</span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" style="width: 100%;" value="确定"/>
        </div>

    </div>
}