@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>昵称</th>
                        <th>推荐</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>推荐</td>
                    </tr>
                    <tr>
                        <td>456</td>
                        <td>456</td>
                        <td>推荐</td>
                    </tr>
                    <tr>
                        <td>789</td>
                        <td>789</td>
                        <td>推荐</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div align="center">
            <button type="button" class="btn btn-default">取消推荐</button>
        </div>
    </div>
</body>
</html>
