@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>

        </div>
        <div align="center">
            <button type="button" class="btn btn-default">删除</button>
            <button type="button" class="btn btn-default">推荐</button>
        </div>
    </div>
</body>
</html>
