@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var models =Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>博文目录</h3>
        <hr style="border:1px gray solid;" />
        <div>
            @if (models!= null)
            {
                foreach (var b in models)
                {
                    <div class="checkbox">
                        <a href="~/UserBlog/seeblogdetails?BlogID=@b.BlogID"><input type="checkbox" value=@b.BlogID>@b.BlogTitle</a>
                    </div>
                }
            }
        </div>
        <div align="center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <div align="center">
            <button type="button" class="btn btn-default">删除</button>
            <button type="button" class="btn btn-default">推荐</button>
        </div>
    </div>
</body>
</html>
