@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <div class="checkbox">
                <label><input type="checkbox" value="">选项 1</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">选项 2</label>
            </div>
        </div>
        <div align="center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <div align="center">
            <button type="button" class="btn btn-default">删除</button>
            <button type="button" class="btn btn-default">推荐</button>
        </div>
    </div>
</body>
</html>
