@{
    var models = Model;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/File/I1.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="~/File/I2.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="~/File/I3.jpg" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="~/File/I4.jpg" alt="Fourth slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <p class="more">回顾2016年，五月天、周杰伦、田馥甄、方大同和林宥嘉等乐坛中坚力量都有口碑不错的新作问世；戴佩妮、杨乃文、魏如萱等金曲奖颇为青睐的文艺卦女歌手也都发行了新专辑；更值得一提的是，2016年是个新人辈出的年份，草东没有派对、宫阁、窦靖童等歌手也都有不俗表现。</p>
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-4">
            <p class="more">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan.Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan</p>
        </div>
        <div class="col-md-4">
            <p class="more">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan.Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan</p>
        </div>
        <div class="col-md-4">
            <p class="more">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan.Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan</p>
        </div>*@
        <br />
    @if (models != null)
    {
        foreach (var b in models)
        {
            <div class="col-md-4">
                <p class="more" style="color:red">
                    @if (Session["Identification"].ToString() == "admin")
                    {
                        <a href="~/Admin/seeblogdetails?BlogID=@b.BlogID">@b.BlogTitle</a>
                    }
                    else
                    {
                        <a href="~/UserBlog/seeblogdetails?BlogID=@b.BlogID">@b.BlogTitle</a>
                    }
                </p>
                </div>
        }
    }
    </div>
</div>


 