@{
    var models = Model;
}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <p class="more">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan.Aenean feugiat in ante et blandit. Vestibulum posuere molestie risus, ac interdum magna porta non.ac interdum magna porta non. Pellentesque rutrum fringilla elementum. Curabitur tincidunt porta lorem vitae accumsan</p>
        </div>

        @if (models != null)
        {

            foreach (var b in models)
            {
                <div class="col-md-4">
                    <table>
                        <tr>
                            <td style="font-size:large;"><p><a style="color:black;" href="~/UserBlog/seeblogdetails?BlogID=@b.BlogID">@b.BlogTitle</a></p></td>
                            @*<td style="font-size:large; float:right"> <a class="glyphicon glyphicon-chevron-right" href="~/UserBlog/seeblogdetails?BlogID=@b.BlogID">查看详情</a></td>*@
                        </tr>
                    </table>
                </div>
            }
        }

    </div>

</div>

