
<link type="text/css" rel="stylesheet" href="~/Content/Like/Css/demo.css" />
<script src="~/Content/Like/Js/Like.js"></script>
<script src="~/Content/Like/Js/jquery-1.8.3.min.js"></script>

<div class="praise">
    <span id="praise"><img src="~/Content/Like/Images/zan.png" id="praise-img" /></span>
    <span id="praise-txt">@Session["likeAmount"]</span>
    <span id="add-num"><em>+1</em></span>
</div>



