@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";

}
<div>
    <label for="name">私信：</label>
    <!-- 显示所有私信 每一条私信后面要有回复的链接-->
</div>
<br />
<div>
    <form role="form">
        <div class="form-group">
            <label for="name">写私信：</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div align="right">
            <button type="button" class="btn btn-default">发送</button>
        </div>
    </form>
</div>