@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";

}
<div>
    <label for="name">留言：</label>
    <!-- 显示所有留言 每一条留言后面要有回复的链接-->
</div>
<br />
<div>
    <form role="form">
        <div class="form-group">
            <label for="name">写留言：</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div align="right">
            <button type="button" class="btn btn-default">发送</button>
        </div>
    </form>
</div>
