@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path;
}

<div class="container">
    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                @{ 
                    Blog.DatabaseContext.BlogDbContext db = new Blog.DatabaseContext.BlogDbContext();
                    Blog.Models.UserAccount userAccountModel = db.UserAccounts.Find(Session["UserID"]);
                    string img = userAccountModel.UserImage;
                    if (img != null)
                    {
                        path = "Images/"+ img;
                    }
                    else
                    {
                        path = "Images/defaultUserImage.jpg";
                    }
                }
                @*<span>path = @path</span>*@
                <img class="img-responsive" name="head" id="head" src="~/File/@path" />
            </li>
            <li class="list-group-item"><a href="~/User/Write">发表博文</a></li>
            <li class="list-group-item"><a href="~/User/Index">查看博文</a></li>
            <li class="list-group-item"><a href="~/User/EditInfo">修改信息</a></li>
            <li class="list-group-item"><a href="~/User/EditPassword">修改密码</a></li>
            <li class="list-group-item"><a href="~/User/Focus">我的关注</a></li>
            <li class="list-group-item"><a href="~/User/Fans">我的粉丝</a></li>
            <li class="list-group-item"><a href="~/User/Message">我的私信</a></li>

        </ul>
    </div>
    <div class="col-md-8">
        <div>@RenderBody()</div>
    </div>
</div>